<%= form_for(@makenewquestion, url: survey_questions_path(current_survey) ) do |form| %>
  <div class="row">
    <%= render 'shared/error_messages', object: form.object %>
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= form.text_field :content, 
              placeholder: "Enter a new question to add to the survey" %>
        </div>
        <div class="small-2 columns">
          <%= form.submit "Add Question", class: "button postfix success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>