  <h3><%= link_to current_survey.title, current_survey %></h3>
  <h3>Question: <%= @question.content %></h3>
  
  <% if @question.answers.any? %>
    <%= render 'answers/answer_list' %>
  <% end %>

  <%= render 'answers/new_answer', object: @newanswer %>