<% if @user.errors.any? %>
  <div class="panel callout radius">
    <div class="alert-box">We've encountered some errors:</div>
    <ul class="circle">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>