<% if object.errors.any? %>
  <div class="panel callout radius">
    <div data-alert class="alert-box alert">
      We've encountered some errors:
      <a href="#" class="close">&times;</a>
    </div>
    <ul class="circle">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>