<%= form_for(@newanswer, url: question_answers_path(@question) ) do |form| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= form.text_field :content, placeholder: "Enter an answer" %>
        </div>
        <div class="small-2 columns">
          <%= form.submit "Add Answer", class: "button postfix" %>
        </div>
      </div>
    </div>
  </div>
<% end %>