<% if signed_in? %>

  <% provide(:title, "Hello #{current_user.name}, welcome back to survey-app!") %>
  
    <div class="small-3 columns">
      <%= render 'shared/user_info' %>
    </div>
    <div class="small-9 columns">
      <%= render 'shared/survey_form' %>
    </div>
  </div>
  <% else %>
  
  <% provide(:title, "Welcome to Survey App! Sign up now!") %>
  
  <div class="text-center panel">
     <h1>Welcome to Survey App!</h1>
      <%= link_to "Sign in", signin_path, class: "button" %>
  </div>
<% end %>