<!-- Show the contents of the survey. (ie: questions) -->
<div class="text-center panel">
     <h1>Title of the survey: <%= @survey.title %></h1>
     <%= link_to "Make new survey", root_url, class: "button" %>
</div>