<%= form_for(@makenewquestion, url: survey_questions_path(@survey.id) ) do |form| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <%= form.text_field :content %>
        </div>
        <div class="small-2 columns">
          <%= form.submit "Add survey item", class: "button postfix" %>
        </div>
      </div>
    </div>
  </div>
<% end %>